<html xmlns:th="http://www.thymeleaf.org">
<div class="Middle" th:fragment="index">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">
                Авторы
            </h1>
            <div class="Section">
                <div class="Authors">
                    <div class="Authors-links">
                        <a class="Authors-link"
                           th:each="authors: ${authorsAlphabet}"
                           th:href="'#'+${#strings.toLowerCase(authors.key)}"
                           th:text="${authors.key}">А</a>
                    </div>
                    <div class="Authors-block">
                        <div th:each="authors: ${authorsAlphabet}"
                             style="margin-top: 49px;">
                            <h2 class="Authors-title"
                                th:id="${#strings.toLowerCase(authors.key)}"
                                th:text="${authors.key}"
                            >
                                А
                            </h2>
                            <div class="Authors-letter">
                                <div class="Authors-item" th:each="author: ${authors.value}">
                                    <a th:href="@{'/authors/'+${author.slug}}"
                                       th:text="${author.name}">Абгарян Наринэ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="Middle" th:fragment="detail(author)">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="/index.html">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a href="/authors/index.html">Авторы</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>Борис Васильевич Бедный</span>
                </li>
            </ul>
            <h1 class="Middle-title" th:text="${author.name}">
                Борис Васильевич Бедный
            </h1>
            <article class="Article">
                <div class="sdf">
                </div>
                <div class="Spoiler">
                    <div class="Spoiler-visible">
                        <div class="pict pict_left">
                            <img th:src="${author.photo}" alt="card.jpg"/>
                        </div>
                        <div th:text="${author.description}">
                        </div>
                    </div>
                </div>
            </article>
            <div class="Section" th:if="${author.books}">
                <header class="Section-header">
                    <h2 class="Section-title">Книги автора
                    </h2>
                </header>
                <div class="Slider Slider_carousel">
                    <div class="Slider-box Cards">
                        <div class="Slider-item" th:each="book : ${author.books}">
                            <div class="Slider-content">
                                <div class="Card">
                                    <div class="Card-picture">
                                        <a th:href="@{'/books/'+${book.slug}}">
                                            <img th:src="${book.image}" alt="card.jpg"/>
                                        </a>
                                        <div class="Card-sale">
                                            30% скидка
                                        </div>
                                        <a class="Card-status" title="Отложена">
                                            <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                                        </a>
                                    </div>
                                    <div class="Card-content">
                                        <strong class="Card-title">
                                            <a th:href="@{'/books/'+${book.slug}}"
                                                th:text="${book.title}"
                                            >Техника</a>
                                        </strong>
                                        <div class="Card-description" th:text="${author.name}">
                                            Кондратенко Александр Петрович
                                        </div>
                                        <div class="Card-cost" th:if="${book.discount}">
                                            <span class="Card-priceOld" th:text="${book.price}">₽300.00</span>
                                            <span class="Card-price"
                                                  th:text="₽ + ${#numbers.formatDecimal(book.price * book.discount, 3, 2)}">₽190.00</span>
                                        </div>
                                        <div class="Card-cost" th:unless="${book.discount}">
                                            <span class="Card-price"
                                                  th:text="₽ + ${book.price}">₽190.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Slider-navigateWrap">
                        <div class="Slider-navigate">
                        </div>
                    </div>
                </div>
                <footer class="Section-footer"><a class="Author-books" href="/books/author.html">Все книги автора<span class="Author-amount">(55)</span></a>
                </footer>
            </div>
        </main>
    </div>
</div>
</html>
