<div class="Middle" xmlns:th="http://www.thymeleaf.org" th:fragment="index">
  <div class="wrap">
    <main class="Middle-main">
      <h1 class="Middle-title">Корзина
      </h1>
      <h3 th:if="${isCartEmpty}"> Корзина пуста</h3>
      <form class="form Cart" action="#" method="post">
        <div class="Cart-product" th:each="book: ${bookCart}">
          <div class="Cart-block Cart-block_row">
            <div class="Cart-block Cart-block_pict">
              <a class="Cart-pict" th:href="@{'/books/'+${book.slug}}">
                <img class="Cart-img" th:src="${book.image}" alt="card.jpg" src=""/>
              </a>
            </div>
            <div class="Cart-block Cart-block_row">
              <div class="Cart-block Cart-block_info">
                <div class="Cart-author">
                  <a th:each="author : ${book.authors}"
                     th:href="@{'/authors/'+${author.slug}}"
                     th:text="${author.name}"
                  >Борис Васильевич Бедный</a>
                </div>
                <div class="Cart-title">
                  <a th:href="@{'/books/'+${book.slug}}" th:text="${book.title}">Жизнь</a>
                </div>
                <div class="Cart-rating">
                  <span class="Rating">
                    <span class="Rating-stars">
                      <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                      </span>
                      <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                      </span>
                      <span class="Rating-star Rating-star_view">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                      </span>
                      <span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                      </span>
                      <span class="Rating-star">
                          <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18">
                            <g>
                              <g>
                                <path fill="#ffc000" d="M9.5 14.925L3.629 18l1.121-6.512L0 6.875l6.564-.95L9.5 0l2.936 5.925 6.564.95-4.75 4.613L15.371 18z"></path>
                              </g>
                            </g>
                          </svg>
                      </span>
                    </span>
                  </span>
                </div>
                <div class="Cart-buttons">
                  <div class="Cart-btn">
                    <button class="btn btn_primary btn_outline" data-sendstatus="KEPT" data-bookid="[1122]">
                      <span class="btn-icon">
                        <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                      </span>
                      <span class="btn-content">Отложить</span>
                    </button>
                  </div>
                  <div class="Cart-btn">
                    <button class="btn btn_danger btn_outline"
                            data-sendstatus="UNLINK"
                            th:attr="data-bookid=${'cart/remove/' + book.slug}">
                      <span class="btn-icon">
                        <img src="/assets/img/icons/trash.svg" alt="trash.svg"/>
                      </span>
                      <span class="btn-content">Удалить</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="Cart-block Cart-block_price" th:if="${book.discount}">
                <div class="Cart-priceTitle">Цена:
                </div>
                <div class="Cart-price Cart-price_old" th:text="${book.price} + 'р.'">150 р.</div>
                <div class="Cart-price" th:text="${book.getDiscountedPrice()} + 'р.'">100 р.</div>
                <div class="Cart-sale" th:text="'-' + ${book.getDiscountFormat()} + '%'">-30%</div>
              </div>
              <div class="Cart-block Cart-block_price" th:unless="${book.discount}">
                <div class="Cart-priceTitle">Цена:</div>
                <div class="Cart-price" th:text="${book.price} + 'р.'">100 р.</div>
              </div>
            </div>
          </div>
        </div>
        <div class="Cart-total">
          <div class="Cart-block Cart-block_total">
            <strong class="Cart-title">Итого:</strong>
            <span class="Cart-price">534 р.</span>
            <span class="Cart-price_old">658 р.</span>
          </div>
          <div class="Cart-block">
            <a class="btn btn_success btn_md" href="/order.html" th:href="@{/books/pay}">Купить</a>
          </div>
        </div>
      </form>
    </main>
  </div>
</div>