<html xmlns:th="http://www.thymeleaf.org">
<div class="Middle" th:fragment="index">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Жанры
            </h1>
            <div class="Section">
                <div class="Tags Tags_genres">
                    <div class="Tags Tags_embed">
                        <div th:each="genre: ${genres}">
                            <div class="Tags-title">
                                <div class="Tag">
                                    <a th:href="@{'/genres/' + ${genre.slug}}"
                                       th:text="${genre.name} + ' (' + ${genre.books.size} + ')'">
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div th:each="genreChild: ${genre.children}">
                                <div class="Tags" th:if="${genreChild.children}">
                                    <div class="Tags-title">
                                        <div class="Tag">
                                            <a th:href="@{'/genres/' + ${genreChild.slug}}"
                                               th:text="${genreChild.name} + ' (' + ${genreChild.books.size} + ')'">
                                                Фантастика
                                            </a>
                                        </div>
                                    </div>
                                    <div class="Tag" th:each="genreGrandChild : ${genreChild.children}">
                                        <a th:href="@{'/genres/' + ${genreGrandChild.slug}}"
                                           th:text="${genreGrandChild.name} + ' (' + ${genreGrandChild.books.size} + ')'">
                                            Триллер
                                        </a>
                                    </div>
                                </div>
                                <div class="Tag" th:unless="${genreChild.children}">
                                    <a th:href="@{'/genres/' + ${genreChild.slug}}"
                                       th:text="${genreChild.name} + ' (' + ${genreChild.books.size} + ')'">
                                        Фантастика
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<div class="Middle" th:fragment="detail">
    <div class="wrap">
        <main class="Middle-main">
            <ul class="breadcrumbs">
                <li class="breadcrumbs-item"><a href="/index.html">Главная</a>
                </li>
                <li class="breadcrumbs-item"><a href="/genres/index.html">Жанры</a>
                </li>
                <li class="breadcrumbs-item"><a href="/genres/index.html">Легкое чтение</a>
                </li>
                <li class="breadcrumbs-item breadcrumbs-item_current"><span>Детективы</span>
                </li>
            </ul>
            <header class="Middle-header">
                <h1 class="Middle-title" th:text="${genre.name}">Детективы
                </h1>
            </header>
            <div class="Section">
                <div th:replace="~{fragments/blocks/book-list :: list(${genre.books})}"/>
            </div>
        </main>
    </div>
</div>
</html>
