<div class="Middle" xmlns:th="http://www.thymeleaf.org" th:fragment="index">
    <div class="wrap">
        <main class="Middle-main">
            <div class="Section">
                <div class="Section-header">
                    <h2 class="Section-title">Рекомендуемое
                    </h2>
                </div>
                <div th:replace="~{fragments/blocks/book-list :: slider(${recommendedBooks}, 0, ${pageSize}, 'recommended')}"/>
                <div class="Section-header">
                    <h2 class="Section-title">Новинки
                    </h2>
                </div>
                <div th:replace="~{fragments/blocks/book-list :: slider(${recentBooks}, 0, ${pageSize}, 'recent')}"/>
                <div class="Section-header">
                    <h2 class="Section-title">Популярное
                    </h2>
                </div>
                <div th:replace="~{fragments/blocks/book-list :: slider(${popularBooks}, 0, ${pageSize}, 'popular')}"/>
            </div>
            <h2 class="Middle-title">Книги по тегам
            </h2>
            <div class="Tags" id="tags">
                <div class="Tag" th:each="tag: ${tagsCloud}">
                    <a th:href="@{'/tags/'+${tag.slug}}" th:text="${tag.title}"></a>
                </div>
            </div>
        </main>
    </div>
</div>
