<div class="Middle" xmlns:th="http://www.thymeleaf.org" th:fragment="index">
  <div class="wrap">
    <main class="Middle-main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs-item"><a href="/index.html">Главная</a>
        </li>
        <li class="breadcrumbs-item"><a href="/genres/index.html">Книги</a>
        </li>
        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Популярное</span>
        </li>
      </ul>
      <div class="Section">
        <div class="Section-header">
          <h1 class="Section-title">Популярное
          </h1>
        </div>
        <div th:replace="~{fragments/blocks/book-list :: list(${popularBooks}, ${pageSize})}"/>
      </div>
    </main>
  </div>
</div>
