<div class="Middle" xmlns:th="http://www.thymeleaf.org" th:fragment="index">
  <div class="Middle-top">
    <div class="wrap">
      <h1 class="Middle-title">Личный кабинет
      </h1>
    </div>
  </div>
  <div class="wrap">
    <main class="Middle-main">
      <h2 class="Middle-title">Мой профиль
      </h2>
      <div class="Tabs Tabs_default">
        <!--+Tabs-links([-->
        <!--    ['#basic', 'Основные сведения'],-->
        <!--    ['#transactions','История транзакций'],-->
        <!--    ['#topup','Пополнить счет']-->
        <!--], 'text', 0)-->
        <div class="Tabs-links"><a class="Tabs-link Tabs-link_ACTIVE" href="#basic">Основные сведения</a><a class="Tabs-link" href="#transactions">История транзакций</a><a class="Tabs-link" href="#topup">Пополнить счет</a>
        </div>
        <div class="Tabs-wrap">
          <div class="Tabs-block" id="basic">
            <div class="Profile">
              <form class="form Profile-form" action="#" method="post">
                <div class="row">
                  <div class="row-block">
                    <div class="form-group">
                      <label class="form-label" for="name">Имя
                      </label>
                      <input class="form-input" id="name" name="name" type="text" th:value="${currentUser.name}"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="mail">E-mail
                      </label>
                      <input class="form-input" id="mail" name="mail" type="text" th:value="${currentUser.email}" data-validate="require mail"/>
                      <div class="Profile-btn Profile-btn_confirm">
                        <button class="btn btn_primary" type="button">Подтвердить
                        </button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="phone">Телефон
                      </label>
                      <input class="form-input" id="phone" name="phone" type="text" th:value="${currentUser.phone}" data-mask="+7 (999) 999-99-99" data-validate="require"/>
                      <div class="Profile-btn Profile-btn_confirm">
                        <button class="btn btn_primary" type="button">Подтвердить
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row-block">
                    <div class="form-group">
                      <label class="form-label" for="password">Пароль
                      </label>
                      <input class="form-input" id="password" name="password" type="password" placeholder="Тут можно изменить пароль"/>
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="passwordReply">Подтверждение пароля
                      </label>
                      <input class="form-input" id="passwordReply" name="passwordReply" type="password" placeholder="Введите пароль повторно"/>
                    </div>
                    <div class="form-group">
                      <div class="Profile-btn">
                        <button class="btn btn_danger" type="button">Отменить
                        </button>
                        <button class="btn btn_primary" type="submit">Сохранить
                        </button>
                      </div>
                      <div class="Profile-success">Профиль успешно сохранен
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="Tabs-block" id="transactions">
            <div class="Transactions">
              <div class="tableWrap">
                <table class="table table_noMargin">
                  <thead>
                  <tr>
                    <th>Дата и время
                    </th>
                    <th>Сумма
                    </th>
                    <th>Описание
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>15 мая 2017 10:03
                    </td>
                    <td><span class="Transactions_textSuccess">
                            <strong>+500 р.
                            </strong></span>
                    </td>
                    <td>Пополнение счета
                    </td>
                  </tr>
                  <tr>
                    <td>5 марта 2017 13:40
                    </td>
                    <td><span class="Transactions_textSuccess">
                            <strong>-480 р.
                            </strong></span>
                    </td>
                    <td>Покупка книги&#32;<a href="/books/slug.html">История Беларуси</a>
                    </td>
                  </tr>
                  <tr>
                    <td>1 февраля 2017 04:10
                    </td>
                    <td><span class="Transactions_textSuccess">
                            <strong>+10 000 р.
                            </strong></span>
                    </td>
                    <td>Пополнение с помощью WebMoney
                    </td>
                  </tr>
                  <tr>
                    <td>1 января 2017 09:33
                    </td>
                    <td><span class="Transactions_textSuccess">
                            <strong>+7 896 р.
                            </strong></span>
                    </td>
                    <td>Пополнение с помощью Яндекс.Деньги
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="Transactions-footer Transactions-footer_center"><a class="btn btn_primary Transactions-get" href="#" data-transactionoffset="4" data-transactionlimit="10" data-transactionsort="asc">Показать еще</a>
              </div>
            </div>
          </div>
          <div class="Tabs-block" id="topup">
            <form class="form Topup" action="#" method="post" data-sendHash="34534535">
              <div class="Topup-wrap">
                <strong class="Topup-title">Введите сумму, на которую хотите пополнить свой счет:
                </strong>
                <div class="form-group form-group_row Topup-group">
                  <input class="form-input" id="sum" name="sum" type="text"/><span>рублей</span>
                </div>
                <div class="form-group">
                  <div class="Topup-btn">
                    <button class="btn btn_primary">Пополнить
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>