<div xmlns:th="http://www.thymeleaf.org" class="Middle" th:fragment="index">
  <div class="wrap">
    <main class="Middle-main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs-item"><a href="/index.html">Главная</a>
        </li>
        <li class="breadcrumbs-item"><a href="/genres/index.html">Книги</a>
        </li>
        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Новинки</span>
        </li>
      </ul>
      <div class="Section">
        <div class="Section-header">
          <h1 class="Section-title">Новинки
          </h1>
          <form class="form form_inline Section-header-form" action="#" method="post">
            <div class="form-group">
              <label class="form-label">с
              </label>
              <input class="form-input form-input_date form-input_date_uninit" id="fromdaterecent"
                     name="fromdaterecent" type="text" placeholder="Дата" data-refreshoffset="0"
                     data-refreshlimit="20" data-refreshshow="changedate" data-refreshfrom="0"
                     autocomplete="off"/>
            </div>
            <div class="form-group">
              <label class="form-label">по
              </label>
              <input class="form-input form-input_date form-input_date_uninit" id="enddaterecent"
                     name="enddaterecent" type="text" placeholder="Дата" data-refreshoffset="0"
                     data-refreshlimit="20" data-refreshshow="changedate" data-refreshto="0"
                     autocomplete="off"/>
            </div>
          </form>
        </div>
        <div th:replace="~{fragments/blocks/book-list :: list(${recentBooks}, ${pageSize})}"/>
      </div>
    </main>
  </div>
</div>
