<div class="Middle Middle_search" xmlns:th="http://www.thymeleaf.org" th:fragment="index">
    <div class="wrap">
        <main class="Middle-main">
            <h1 class="Middle-title">Поиск
            </h1>
            <div class="Section">
                <div class="search">
                    <form class="form form_search"
                          action="#" method="post"
                          data-searchlimit="5">
                        <input class="search-input"
                               id="querypage"
                               th:value="${searchWordDto.example}"
                               name="querypage"
                               type="text"
                               placeholder="Search over 30 million book titles"/>
                        <button class="search-button" type="submit" name="searchpage" id="searchpage">Поиск
                        </button>
                    </form>
                </div>
            </div>
            <div class="Section Section_close">
                <header class="Section-header">
                    <h2 class="Section-title Middle-searchHeader" th:text="${'Найдено книг: ' + searchResults.size()}">
                      Найдено 40 книг
                    </h2>
                </header>
                <div class="Cards Cards_search Cards_refresh">
                    <div class="Card" th:each="book : ${searchResults}">
                        <div class="Card-picture">
                          <a href="#">
                            <img th:src="${book.image}"
                                 src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                          </a>
                        </div>
                        <div class="Card-content">
                            <strong class="Card-title">
                              <a href="#" th:text="${book.title}">Техника</a>
                            </strong>
                            <div class="Card-description" th:text="${book.description}">
                              Кондратенко Александр Петрович
                            </div>
                            <div class="Card-cost">
                              <span class="Card-priceOld" th:text="${book.price}">₽300.00</span>
                                <span class="Card-price"
                                      th:if="${book.discount}"
                                      th:text="₽ + ${#numbers.formatDecimal(book.price * book.discount, 3, 2)}">₽190.00</span>
                            </div>
                        </div>
                    </div>
                    <div class="Cards-footer Cards-footer_center">
                      <a class="btn btn_primary" href="#"
                         data-refreshshow="search" data-refreshoffset="0"
                         data-refreshlimit="5"
                         th:attr="data-refreshquery=${searchWordDto.example}"
                         data-refreshquery="Техника">Показать еще</a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
