<div class="Middle Middle_form" xmlns:th="http://www.thymeleaf.org" th:fragment="index">
    <div class="Middle-top">
        <div class="wrap">
            <h1 class="Middle-title">Регистрация
            </h1>
        </div>
    </div>
    <div class="wrap">
        <main class="Middle-main">
            <form class="form Login Login_registration"
                  th:object="${regForm}"
                  th:action="@{/reg}"
                  method="post">
                <div class="Login-ins">
                    <div class="Login-step">
                        <div class="form-group">
                            <input class="form-input"
                                   id="name" name="name"
                                   type="text" placeholder="Введите Имя"
                                   th:field="*{name}"
                                   data-validate="require"/>
                        </div>
                        <div class="form-group form-group_row">
                            <div class="form-group">
                                <input class="form-input form-input_phone"
                                       th:field="*{phone}"
                                       id="phone" name="phone"
                                       type="text" placeholder="Введите телефон"
                                       data-mask="+7 (999) 999-99-99" data-validate="require"/>
                            </div>
                            <div class="form-group form-group_key">
                                <input class="form-input form-input_code" id="phoneCode" name="phoneCode" type="text" placeholder="Код из СМС" data-mask="999 999" data-validate="require key"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn_success btn_sm form-btn" type="button" name="submitPhone" disabled="disabled" id="submitPhone">Подтвердить
                                </button>
                            </div>
                        </div>
                        <div class="form-group form-group_row">
                            <div class="form-group">
                                <input class="form-input form-input_mail"
                                       th:field="*{email}"
                                       id="mail" name="mail"
                                       type="text" placeholder="Введите e-mail"
                                       data-validate="mail require"/>
                            </div>
                            <div class="form-group form-group_key">
                                <input class="form-input form-input_code" id="mailCode" name="mailCode" type="text" placeholder="Код из письма" data-mask="999 999" data-validate="require key"/>
                            </div>
                            <div class="form-group">
                                <button class="btn btn_success btn_sm form-btn" type="button" name="submitMail" disabled="disabled" id="submitMail">Подтвердить
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="form-input form-input_password"
                                   th:field="*{pass}"
                                   id="pass" name="pass"
                                   type="password" placeholder="Введите пароль"
                                   data-validate="password require"/>
                        </div>
                        <div class="form-group form-group_center">
                            <button class="btn btn_primary form-btn" type="submit" name="registration" id="registration" disabled="disabled">Зарегистрироваться
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </main>
    </div>
</div>
