<div class="Middle" xmlns:th="http://www.thymeleaf.org" th:fragment="index">
  <div class="wrap">
    <main class="Middle-main">
      <ul class="breadcrumbs">
        <li class="breadcrumbs-item"><a href="/index.html">Главная</a>
        </li>
        <li class="breadcrumbs-item breadcrumbs-item_current"><span>Психологическая проза</span>
        </li>
      </ul>
      <div class="Section">
        <div class="Section-header">
          <h1 class="Section-title" th:text="${tag.title}">Психологическая проза
          </h1>
          <div class="Section-header-links"><a class="Section-header-link" href="/#tags">Все тэги</a>
          </div>
        </div>
        <div th:replace="~{fragments/blocks/book-list :: list(${tag.books}, ${pageSize})}"/>
      </div>
    </main>
  </div>
</div>