<html xmlns:th="http://www.thymeleaf.org">
<div class="Cards Cards_refresh" th:fragment="list(books, pageSize)">
    <div class="Card" th:each="book: ${books}">
        <div class="Card-picture">
            <a th:href="@{'/books/'+${book.slug}}">
                <img th:src="${book.image}" alt="card.jpg"/>
            </a>
        </div>
        <div class="Card-content">
            <strong class="Card-title">
                <a th:href="@{'/books/'+${book.slug}}" th:text="${book.title}">Техника</a>
            </strong>
            <div class="Card-description" th:each="author : ${book.authors}" th:text="${author.name}">
                Кондратенко Александр Петрович
            </div>
            <div class="Card-cost" th:if="${book.discount}">
                <span class="Card-priceOld" th:text="${'₽' + book.price}">₽300.00</span>
                <span class="Card-price"
                      th:text=" ${'₽' + book.getDiscountedPrice()}">₽190.00</span>
            </div>
            <div class="Card-cost" th:unless="${book.discount}">
                <span class="Card-price"
                      th:text="₽ + ${book.price}">₽190.00</span>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/blocks/pagination :: show_more(0, ${pageSize}, 'recent')}"/>
</div>

<div class="Slider Slider_carousel" th:fragment="slider(books, offset, limit, load)">
    <div class="Slider-box Cards" th:attr="data-load=${load}, data-loadoffset=${offset}, data-loadlimit=${limit}">
        <div class="Slider-item" th:each="book: ${books}">
            <div class="Slider-content">
                <div class="Card">
                    <a class="Card-picture" th:href="@{'/books/'+${book.slug}}">
                        <img th:src="${book.image}" alt="card.jpg"/>
                    </a>
                    <div class="Card-content">
                        <strong class="Card-title">
                            <a th:href="@{'/books/'+${book.slug}}"
                               th:text="${book.title}">Техника</a>
                        </strong>
                        <div class="Card-description"
                             th:text="${book.authorsNames()}">
                            Кондратенко Валерий Петрович
                        </div>
                        <div class="Card-cost" th:if="${book.discount}">
                            <span class="Card-priceOld" th:text="${'₽' + book.price}">₽300.00</span>
                            <span class="Card-price"
                                  th:text="${'₽' + book.getDiscountedPrice()}">₽190.00</span>
                        </div>
                        <div class="Card-cost" th:unless="${book.discount}">
                            <span class="Card-price"
                                    th:text="₽ + ${book.price}">₽190.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="Slider-navigateWrap">
        <div class="Slider-navigate">
        </div>
    </div>
    <div class="Slider-load">
        <div class="Slider-load-text">Идет загрузка данных
        </div>
    </div>
</div>
</html>
