<div class="Cards-footer Cards-footer_center" xmlns:th="http://www.thymeleaf.org"
     th:fragment="show_more(offset, limit, show)">
  <a class="btn btn_primary" href="#"
     th:attr="data-refreshoffset=${offset}, data-refreshshow=${show}, data-refreshlimit=${limit}"
     >Показать еще</a>
</div>